* {
    margin: 0;
    padding: 0;
}

body {
    background: #2B7A78;
    font-family: poppins;
}

.container {
    margin: 150px auto;
    width: 48vw ;
    height: 300px;
    background: rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    border-radius: .5em;
    overflow: hidden;
}

.container .img {
    flex-basis: 40%;
    display: grid;
    place-items: center;
}

.container .img img {
    width: 100%;
    height: auto;
}

.container .body_txt {
    flex-basis: 60%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.body_txt h1 {
    font-size: 1.9vw;
    line-height: 3vw;
}

.body_txt p {
    margin: 18px 0;
}

.inps input[type="email"] {
    background: rgb(251 251 251);
    border: 2px solid rgb(150, 150, 150);
    outline: none;
    width: 80%;
    padding: 8px;
    font-family: Arial;
    font-size: 15px;
    height: 24px;
    border-radius: .2rem;
    transition: .12s;
} 

.inps input[type="email"]:focus {
    border: 2px solid #1973D1;
}

.inps button {
    width: 85%;
    height: 39px;
    padding: 6px;
    margin-top: 15px;
    background: #1973D1;
    color: #fff;
    border: 1px solid #1973D1;
    outline: 0;
    font-family: roboto;
    font-size: 15px;
    border-radius: .4em;
    cursor: pointer;
    transition: none;
}

.inps button:hover {
    background: #ffffff;
    color: #1973D1;
    border:  2px solid #1973D1;
}

.inps button:active {
    background: #1973D1;
    color: #fff;
    border: 2px solid #1973D1;
}

@media screen and (max-width: 870px){
    .container {
        width: 80vw;
        height: auto;
        background: rgb(255, 255, 255);
        padding: 10px;
        display: block;
    }

    .container .img {
        height: 150px;
        background: url('emailimg-2.png');
        object-fit: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .container .img img{
        display: none;
    }

    .container .body_txt h1{
        font-size: 1.5em;
        line-height: 25px;
        margin: 5px 0;
    }

    .container .inps button{
        width: 88%;
    }
    
}